@import url('https://fonts.googleapis.com/css2?family=Barriecito&display=swap');

html {
  box-sizing: border-box;
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
}
/* color al seleccionar texto */
::selection {
  background-color: #30cac073;
  color: #130808;
}

h2 {
  font-size: 1.1em;
}

a, a:active, a:visited, a:hover {
  color: rgb(41, 255, 41);
  cursor: pointer;
  text-decoration: none;
}

#contenedorGeneral {
  margin: auto 1em;
  text-align: center;
  position: relative; /* para asegurar stacking con locuraContenedor */
  z-index: 2;
}

#tituloPagina {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  font-weight: 500;
  font-style: normal;
}

#tituloPagina a:hover {
  color: rgb(255, 0, 43);
}

#contenedorPersonaje {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.imagen {
  height: 300px;
  width: 300px;
  margin: 0em auto;
}

#boton {
  font-size: 0.9em;
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer;
  z-index: 3;                 /* por si las barras están encima */
  position: relative;

}

/* CONTENEDOR DE BARRAS */
#locuraContenedor {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 60vh;            /* suficiente alto para que crezcan */
  display: flex;
  justify-content: space-between;
  align-items: flex-end;   /* esto hace que crezcan hacia arriba */
  pointer-events: none;    /* no bloquea interacción con la UI */
  padding: 0 10px;
  z-index: 1;              /* detrás del contenido principal */
}

/* BARRAS */
.barra-locura {
  width: 4px;                
  background: linear-gradient(to top, red, yellow, green);
  height: 0;                
  border-radius: 2px 2px 0 0;
  transform-origin: bottom center;
  pointer-events: none;
}
